#deck_view #site_nav div#heading {
  *zoom: 1;
  background-color: #318dc4; }
  #deck_view #site_nav div#heading:before, #deck_view #site_nav div#heading:after {
    content: " ";
    display: table; }
  #deck_view #site_nav div#heading:after {
    clear: both; }
  #deck_view #site_nav div#heading a {
    color: white;
    text-decoration: none; }
  #deck_view #site_nav div#heading div#hleft {
    padding: 5px;
    float: left;
    width: 200px; }
  #deck_view #site_nav div#heading div#hright {
    margin-top: 10px;
    margin-left: 215px;
    margin-right: 10px;
    text-align: right; }
#deck_view #site_nav #flashed_messages {
  background-color: #edc571;
  color: white; }
#deck_view #site_nav #login_form label {
  width: 150px;
  display: block;
  vertical-align: middle;
  float: left;
  clear: left;
  font-size: 18px; }
#deck_view #site_nav #login_form input {
  outline: none; }
#deck_view #site_nav #login_form input#submit {
  border: 1px solid #076fe4;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #8ebcf1;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #4294f0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4294f0), color-stop(100%, #0776f3));
  background-image: -webkit-linear-gradient(#4294f0, #0776f3);
  background-image: linear-gradient(#4294f0, #0776f3);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #0065d6;
  background-clip: padding-box; }
  #deck_view #site_nav #login_form input#submit:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #60a2ec;
    cursor: pointer;
    background-color: #2f87ea;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2f87ea), color-stop(100%, #086fe3));
    background-image: -webkit-linear-gradient(#2f87ea, #086fe3);
    background-image: linear-gradient(#2f87ea, #086fe3); }
  #deck_view #site_nav #login_form input#submit:active:not(:disabled) {
    border: 1px solid #076fe4;
    box-shadow: inset 0 0 8px 4px #0868d3, inset 0 0 8px 4px #0868d3, 0 1px 1px 0 #eeeeee; }
  #deck_view #site_nav #login_form input#submit:disabled {
    opacity: 0.5;
    cursor: not-allowed; }
#deck_view #site_nav #login_form li {
  font-size: 16px;
  color: #e48743; }
#deck_view #site_nav #accordion h2 {
  cursor: pointer;
  outline: none; }
#deck_view #site_nav #accordion div#featured {
  *zoom: 1; }
  #deck_view #site_nav #accordion div#featured:before, #deck_view #site_nav #accordion div#featured:after {
    content: " ";
    display: table; }
  #deck_view #site_nav #accordion div#featured:after {
    clear: both; }
  #deck_view #site_nav #accordion div#featured a.featured_item {
    outline: none;
    color: #edc571;
    width: 100%;
    text-decoration: none; }
    #deck_view #site_nav #accordion div#featured a.featured_item:hover {
      cursor: pointer;
      background-color: #28739f; }
#deck_view #site_nav {
  background-color: #27709b;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #27709b), color-stop(100%, #1d5372));
  background-image: -webkit-linear-gradient(#27709b, #1d5372);
  background-image: linear-gradient(#27709b, #1d5372);
  *zoom: 1;
  background-color: #27709b;
  color: white;
  width: 355px;
  height: 100%;
  position: absolute;
  float: left; }
  #deck_view #site_nav:before, #deck_view #site_nav:after {
    content: " ";
    display: table; }
  #deck_view #site_nav:after {
    clear: both; }
  #deck_view #site_nav #quiz_input {
    *zoom: 1;
    background-color: #81c6dd; }
    #deck_view #site_nav #quiz_input:before, #deck_view #site_nav #quiz_input:after {
      content: " ";
      display: table; }
    #deck_view #site_nav #quiz_input:after {
      clear: both; }
    #deck_view #site_nav #quiz_input div#quiz_input_submit {
      text-align: center; }
      #deck_view #site_nav #quiz_input div#quiz_input_submit a#submit_card {
        border: 1px solid #076fe4;
        border-radius: 3px;
        box-shadow: inset 0 1px 0 0 #8ebcf1;
        color: white;
        display: inline-block;
        font-size: 11px;
        font-weight: bold;
        background-color: #4294f0;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4294f0), color-stop(100%, #0776f3));
        background-image: -webkit-linear-gradient(#4294f0, #0776f3);
        background-image: linear-gradient(#4294f0, #0776f3);
        padding: 7px 18px;
        text-decoration: none;
        text-shadow: 0 1px 0 #0065d6;
        background-clip: padding-box;
        width: 110px; }
        #deck_view #site_nav #quiz_input div#quiz_input_submit a#submit_card:hover:not(:disabled) {
          box-shadow: inset 0 1px 0 0 #60a2ec;
          cursor: pointer;
          background-color: #2f87ea;
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2f87ea), color-stop(100%, #086fe3));
          background-image: -webkit-linear-gradient(#2f87ea, #086fe3);
          background-image: linear-gradient(#2f87ea, #086fe3); }
        #deck_view #site_nav #quiz_input div#quiz_input_submit a#submit_card:active:not(:disabled) {
          border: 1px solid #076fe4;
          box-shadow: inset 0 0 8px 4px #0868d3, inset 0 0 8px 4px #0868d3, 0 1px 1px 0 #eeeeee; }
        #deck_view #site_nav #quiz_input div#quiz_input_submit a#submit_card:disabled {
          opacity: 0.5;
          cursor: not-allowed; }
      #deck_view #site_nav #quiz_input div#quiz_input_submit a#delete_card {
        border: 1px solid #b80000;
        border-radius: 3px;
        box-shadow: inset 0 1px 0 0 #f85454;
        color: white;
        display: inline-block;
        font-size: 11px;
        font-weight: bold;
        background-color: red;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, red), color-stop(100%, #c70000));
        background-image: -webkit-linear-gradient(red, #c70000);
        background-image: linear-gradient(red, #c70000);
        padding: 7px 18px;
        text-decoration: none;
        text-shadow: 0 1px 0 #a30000;
        background-clip: padding-box;
        width: 110px; }
        #deck_view #site_nav #quiz_input div#quiz_input_submit a#delete_card:hover:not(:disabled) {
          box-shadow: inset 0 1px 0 0 #f72222;
          cursor: pointer;
          background-color: #e10505;
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e10505), color-stop(100%, #b80000));
          background-image: -webkit-linear-gradient(#e10505, #b80000);
          background-image: linear-gradient(#e10505, #b80000); }
        #deck_view #site_nav #quiz_input div#quiz_input_submit a#delete_card:active:not(:disabled) {
          border: 1px solid #b80000;
          box-shadow: inset 0 0 8px 4px #a80000, inset 0 0 8px 4px #a80000, 0 1px 1px 0 #eeeeee; }
        #deck_view #site_nav #quiz_input div#quiz_input_submit a#delete_card:disabled {
          opacity: 0.5;
          cursor: not-allowed; }
    #deck_view #site_nav #quiz_input div.quiz_input {
      clear: both;
      *zoom: 1;
      padding: 5px; }
      #deck_view #site_nav #quiz_input div.quiz_input:before, #deck_view #site_nav #quiz_input div.quiz_input:after {
        content: " ";
        display: table; }
      #deck_view #site_nav #quiz_input div.quiz_input:after {
        clear: both; }
      #deck_view #site_nav #quiz_input div.quiz_input div.img_preview {
        float: left; }
      #deck_view #site_nav #quiz_input div.quiz_input div.card_input {
        width: 175px;
        margin-left: 8px;
        float: left; }
      #deck_view #site_nav #quiz_input div.quiz_input div.icon_label {
        clear: both;
        float: left; }
    #deck_view #site_nav #quiz_input div.img_preview {
      width: 150px;
      height: 180px;
      background-color: #d1e2e8;
      border: 1px solid #27709b; }
    #deck_view #site_nav #quiz_input textarea.text_preview {
      font-size: 18px;
      color: #1d5372;
      width: 175px;
      height: 120px;
      border: 1px solid #27709b;
      resize: none; }
    #deck_view #site_nav #quiz_input .thumbnail_preview {
      max-width: 150px;
      max-height: 180px; }
    #deck_view #site_nav #quiz_input img.board_preview {
      z-index: -1; }
    #deck_view #site_nav #quiz_input .icon_picture {
      z-index: 1; }
    #deck_view #site_nav #quiz_input label.filebutton {
      width: 20px;
      height: 20px;
      overflow: hidden;
      position: relative; }
      #deck_view #site_nav #quiz_input label.filebutton span.icon_text {
        font-size: 12px; }
      #deck_view #site_nav #quiz_input label.filebutton span input {
        z-index: 999;
        line-height: 0;
        font-size: 14px;
        text-align: right;
        position: absolute;
        top: 5px;
        left: 0px;
        opacity: 0;
        filter: alpha(opacity=0);
        -ms-filter: "alpha(opacity=0)";
        margin: 0;
        padding: 0; }
#deck_view #content {
  padding: 10px 10px 10px 420px;
  display: block;
  border: 1px dashed #333333;
  background-color: #f9fdfe; }
  #deck_view #content #deck_header {
    height: 20px;
    background-color: #27709b;
    *zoom: 1; }
    #deck_view #content #deck_header:before, #deck_view #content #deck_header:after {
      content: " ";
      display: table; }
    #deck_view #content #deck_header:after {
      clear: both; }
    #deck_view #content #deck_header #add_card {
      float: left;
      width: 100px;
      text-align: center; }
      #deck_view #content #deck_header #add_card a {
        color: white; }
    #deck_view #content #deck_header #start_quiz {
      width: 100px;
      float: left; }
      #deck_view #content #deck_header #start_quiz a {
        color: white; }
  #deck_view #content #container {
    position: relative; }
    #deck_view #content #container .box {
      cursor: pointer;
      background-color: #f9fdfe;
      border-radius: 6px;
      width: 150px;
      margin: 5px;
      font-size: 9px;
      line-height: 1.4em;
      float: left;
      border: 1px solid #27709b; }
      #deck_view #content #container .box .card_front {
        *zoom: 1;
        background-color: #e5f3f8;
        clear: both;
        margin: 5px;
        padding: 5px; }
        #deck_view #content #container .box .card_front:before, #deck_view #content #container .box .card_front:after {
          content: " ";
          display: table; }
        #deck_view #content #container .box .card_front:after {
          clear: both; }
        #deck_view #content #container .box .card_front .front_img {
          float: left; }
        #deck_view #content #container .box .card_front .front_text {
          float: left; }
      #deck_view #content #container .box .card_back {
        *zoom: 1;
        background-color: #e5f3f8;
        clear: both;
        margin: 3px;
        padding: 5px; }
        #deck_view #content #container .box .card_back:before, #deck_view #content #container .box .card_back:after {
          content: " ";
          display: table; }
        #deck_view #content #container .box .card_back:after {
          clear: both; }
        #deck_view #content #container .box .card_back .back_img {
          float: left; }
        #deck_view #content #container .box .card_back .back_text {
          float: left; }
    #deck_view #content #container .shade {
      background-color: #cedadf; }
    #deck_view #content #container .select {
      border: 2px solid #27709b; }
